<div class="row justify-content-center">
    <div class="col-sm-2" id="col1">
        <div class="row">
            <div class="col-sm-2">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos%2Fshopping&psig=AOvVaw1tUowZq3YFZjZmN9cKU_wc&ust=1595255467643000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCODqru7D2eoCFQAAAAAdAAAAABAD">
            </div>
            <div class="col-sm-2">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos%2Fshopping&psig=AOvVaw1tUowZq3YFZjZmN9cKU_wc&ust=1595255467643000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCODqru7D2eoCFQAAAAAdAAAAABAD">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
               <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos%2Fshopping&psig=AOvVaw1tUowZq3YFZjZmN9cKU_wc&ust=1595255467643000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCODqru7D2eoCFQAAAAAdAAAAABAD"> 
            </div>
            <div class="col-sm-2">
                <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos%2Fshopping&psig=AOvVaw1tUowZq3YFZjZmN9cKU_wc&ust=1595255467643000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCODqru7D2eoCFQAAAAAdAAAAABAD">
            </div>
        </div>
    </div>
    <div class="col-sm-2" id="col2">
        
    </div>
    <div class="col-sm-2" id="col3">
        
    </div>

</div>