<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-3 m-3" *ngFor='let p of products'>
            <div class="card" style="width: 18rem;" >
                <img [src]="p.image" class="card-img-top" alt="{{p.name}}" >
                <div class="card-body" (click)='selectProduct(p.id)'>
                  <h5 class="card-title">{{p.name | titlecase}}</h5>
                  <p class="card-text">{{p.brand}}</p>
                  <p class="card-text">{{p.price | currency : 'INR'}}</p>
                  <button class="btn btn-outline-success" [class.disabled]='p.quantity < 1' [class.btn-outline-danger]='p.quantity < 1' [disabled]='p.quantity < 1' >{{ p.quantity < 1 ? 'OUT OF STOCK' : 'ADD TO CART'}}</button>
                </div>
              </div>
        </div>
    </div>
</div>