#head{
  margin-top: 150px;
}


#empty{
    background-color: rgb(211, 207, 207);
}

#cart{
    background-color: rgb(211, 207, 207);
}

#total{
  background-color: rgb(211, 207, 207);
}
/* form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding: 10px 0 12px;
    text-align: center;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
    background-color: black;
    color: white;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
    background-color: rgb(12, 12, 12);
    color: white;
  }
  
 
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } */