<div class="row" id="footer">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <h6>Get to Know Us</h6>
                <div class="row mt-4">
                    <ul id="list">
                        <li>About Us</li>
                        <li>Careers</li>
                        <li>Press Releases</li>
                        <li>Quickshop Cares</li>
                        <li>Gift a Smile</li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <h6>Connect with Us</h6>
                <div class="row mt-4">
                    <ul id="list">
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <h6>Make Money with Us</h6>
                <div class="row mt-4">
                    <ul id="list">
                        <li>Sell on Quickshop</li>
                        <li>Become an Affiliate</li>
                        <li>Fulfillment by Quickshop</li>
                        <li>Advertise your Products</li>
                        <li>Amazon Pay on Merchants</li> 
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <h6>Let us Help You</h6>
                <div class="row mt-4">
                    <ul id="list">
                        <li>Your Account</li>
                        <li>Returns Centre</li>
                        <li>100% Purchase Protection</li>
                        <li>Quickshop App Download</li>
                        <li>Quickshop Assistant Download</li>
                        <li>Help</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
 
</div>
<div class="row" id="admin">
    <div class="container">
        <a routerLink="/admin">Admin?</a>
    </div>
</div>